
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {

   
    display: flex;
    justify-content: center;
    

}

.flex-item {
    width: 200px;
    height: 40px;
    /* border-radius: 5%; */
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;

}

.flex-item-b {
    width: 200px;
    height: 40px;
    /* border-radius: 5%; */
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.481);
    font-size: 14px;

}